.survey_container {
  padding: 16px;
  .survey_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 16px;
    border-radius: 4px;
    background: var(--background);
    margin-bottom: 16px;
    .details {
      max-width: 160px;
      p {
        text-align: left;
        margin: 0;
      }
    }
    .img_cont {
      border-radius: 4px;
      overflow: hidden;
      min-height: 88px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
