@import url('../public/fonts/San-Francisco/stylesheet.css');
:root {
  --main: #007aff;
  --background: #f5f5f5;
  --secondary: #f9f9f9;
  --secondary_text: #b8b8b8;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'San-Francisco', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'San-Francisco', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
.input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  position: relative;
}
.input_container input,
.input_container select {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: 0;
  height: 48px;
  border-radius: 4px;
  background: #f2f3f5;
  font-size: 16px;
  line-height: 20px;
  caret-color: var(--main);
  padding: 0 10px;
  transition: border 0.3s;
  appearance: none;
}
.input_container label.date {
  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 10px;
  color: var(--secondary_text);
  font-size: 16px;
  transform: translateY(-50%);
}

.input_container select {
  color: var(--secondary_text);
}
.input_container select.success {
  color: black;
}
.input_container option:not(:first-of-type) {
  color: black;
}
.input_container option:first-of-type {
  display: none;
}
.input_container label.none {
  display: none;
}
.input_container input.expire {
  max-width: 170px;
}
.input_container svg {
  position: absolute;
  bottom: 18px;
  right: 16px;
}
.input_container input:focus {
  border: 1px solid var(--main);
}
.input_container input:focus {
  border: 1px solid var(--main);
}
.input_container input.success,
.input_container select.success {
  background: rgba(0, 122, 255, 0.06);
}
.input_container input::placeholder {
  color: var(--secondary_text);
}
.input_container input.date::placeholder {
  color: #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-text-fill-color: #000;
  -webkit-text-size-adjust: 16px;
  font-size: 16px;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.input_container label {
  line-height: 18px;
  color: var(--secondary_text);
  margin-bottom: 6px;
  font-size: 14px;
}
p.heading1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.32px;
  margin: 36px 0;
}
p.heading2 {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.35px;
}
p.heading3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.btn {
  border-radius: 6px;
  height: 52px;
  width: 100%;
  outline: 0;
  border: 0;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  letter-spacing: -0.32px;
}
.btn.primary {
  background: var(--main);
}
.btn.secondary {
  background: #f9f9f9;
  color: var(--main);
}
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: var(--main);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 1px 20px var(--main), 0 0 5px var(--main);
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
