.form_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 290px;
    .extra {
      text-align: center;
      margin: 24px 0;
      font-size: 14px;
    }
    .actions {
      display: flex;
      margin-top: auto;
      button:nth-child(2) {
        margin-left: 10px;
      }
    }
    .extra_link {
      font-size: 14px;
      text-align: center;
      margin-top: 10px;
      color: var(--main);
    }
  }
  .success {
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .details {
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.1px;
      .highlight {
        color: var(--main);
      }
    }
    .tick {
      margin-bottom: 16px;
    }
  }
}
.recaptcha_survey {
  margin-bottom: 5px;
  .error {
    color: red;
    font-size: 14px;
    margin: 4px 0;
  }
}
.loading_bar_spinner {
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  position: absolute;
  z-index: 19 !important;
  animation: loading-bar-spinner 400ms linear infinite;
}

.loading_bar_spinner .spinner_icon {
  width: 32px;
  height: 32px;
  border: solid 3px transparent;
  border-top-color: #fff !important;
  border-left-color: #fff !important;
  border-radius: 50%;
  animation: fadeIn 400ms linear forwards;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
